<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="https://vuejs.org/js/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/magic/1.1.0/magic.css">
    <style type="text/css">
	span {
		cursor: pointer;
	}
	</style>
<title>无标题文档</title>
</head>

<body>  
    <div id="app">
        <ul>
        	<taxon :tree="living" taxon="living"></taxon>
        </ul>
    </div>
    <script>
		Vue.component('taxon', {
			template: `
				<li>
					<div @click="toggle">
						{{taxon}}
						<span v-if="hasChildren">[{{open ? '-' : '+'}}]</span>
					</div>
					<ul v-show="open">
						<taxon
						v-for="(child, taxon) in tree"
							:tree="child"
							:taxon="taxon"
							:key="taxon"
						>
						</taxon>
					</ul>
				</li>
				`,
			props: {
				tree: Object,
				taxon: String
			},
			data () {
				return {
				open: false
			}},
			computed: {
				hasChildren () {
					return this.tree !== null
				}
			},
			methods: {
				toggle () {
					this.open = !this.open
				}
			}
		})
		new Vue ({
			el: '#app',
			data: {
				living: {
					animals: {
						invertebrates: {
							crab: null,
							bee: null,
							ant: null
						},
						vertebrates: {
						fish: {
							shark: null
						},
						mammals: {
							rabbit: null,
							rat: null
						}
					}
				},
				plants: {
					flowering: {
						maize: null,
						paddy: null
					},
					'non-flowering': {
						algae: {
						seaweed: null,
						spirogyra: null
					},
					fungi: {
						yeast: null,
						mushroom: null
					},
					moss: null,
					fern: null
				}
				}
				}
			}
		})
	</script>
</body>
</html>
